In [1]:
import pickle
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import statsmodels.api as sm
from sklearn.linear_model import LinearRegression

In [2]:
#read 'df_new_movies_data.pkl' in 
with open('df_new_movies_data.pkl', 'rb') as pickle_file:
    df_movies= pickle.load(pickle_file)

In [3]:
#More data cleaning: Do I have duplicates?
df_movies['title'].duplicated(keep = 'first').sum()

65

In [4]:
duplicates = pd.DataFrame(df_movies['title'].duplicated(keep = 'first'))
mask = duplicates.title == True
duplicates_only = duplicates[mask]
duplicates_only

      title
1071   True
1360   True
1424   True
1433   True
1564   True
...     ...
5388   True
5419   True
5449   True
5520   True
5546   True

[65 rows x 1 columns]

In [5]:
df_movies.shape

(5584, 44)

In [6]:
#Yes, I do. Remove duplicates.
df_movies = df_movies.drop_duplicates(subset=['title'], keep='first')

In [7]:
# Do I still have duplicates?
df_movies['title'].duplicated(keep = 'first').sum()

0

In [8]:
#What are the columns that I have in the df_movies DataFrame?
df_movies.columns

Index(['title', 'gross_us_canada', 'gross_world', 'rating', 'running_time',
       'genre', 'budget', 'release_date_string', 'production_company',
       'main_actor', 'main_actor_STARmeter', 'number_of_cast_members',
       'distributor', 'salesrep_trial', 'qty_directors', 'qty_writers',
       'qty_producers', 'qty_art_department', 'qty_sound_department',
       'qty_special_effects', 'qty_visual_effects',
       'qty_camera_and_electrical_department', 'qty_casting_department',
       'qty_editorial_department', 'qty_music_department',
       'qty_filming_locations', 'qty_soundtracks', 'qty_companies',
       'qty_production_companies', 'qty_sales_representatives',
       'qty_distributors', 'qty_special_effects_companies', 'Action', 'Comedy',
       'Drama', 'Horror', 'Adventure', 'Crime', 'Documentary', 'Mystery',
       'Romance', 'Thriller', 'SciFi', 'Other'],
      dtype='object')

In [9]:
# I have many 'unknowns' in important variables like 'gross_us_canada', 'budget', 'running_time', 'production_company'
# What if, for now, I just delete all unknown from the data? I will do that. This is prelinimanry and I do not have much time to do a Missing Data Analysis
df_movies = df_movies[(df_movies.gross_us_canada != 'unknown') & \
                        (df_movies.rating != 'unknown') & \
                        (df_movies.running_time != 'unknown') & \
                        (df_movies.genre != 'unknown') & \
                        (df_movies.budget != 'unknown') & \
                        (df_movies.release_date_string != 'unknown') & \
                        (df_movies.production_company != 'unknown') & \
                        (df_movies.main_actor != 'unknown') & \
                        (df_movies.main_actor_STARmeter != 'unknown') & \
                        (df_movies.number_of_cast_members != 'unknown') & \
                        (df_movies.distributor != 'unknown')]

In [10]:
#Before removing 'unknowns' from the above mentioned columns, we had 5519 rows. Now, how many rows we have?
df_movies.shape

(1077, 44)

In [13]:
# What else should I clean?
df_movies

,title,gross_us_canada,gross_world,rating,running_time,genre,budget,release_date_string,production_company,main_actor,...,Drama,Horror,Adventure,Crime,Documentary,Mystery,Romance,Thriller,SciFi,Other
1,Black Panther,700426566,1347426487,PG-13,134,"Action,Adventure,Sci-Fi",200000000,"Feb\n16,\n2018",Marvel Studios,Chadwick Boseman,...,False,False,True,False,False,False,False,False,True,False
2,Blade Runner 2049,92054159,259239658,R,164,"Action,Drama,Mystery",150000000,"Oct\n6,\n2017",Alcon Entertainment,Ryan Gosling,...,True,False,False,False,False,True,False,False,False,False
3,On the Basis of Sex,24704837,38755900,PG-13,120,"Biography,Drama",20000000,"Jan\n11,\n2019",Alibaba Pictures,Felicity Jones,...,True,False,False,False,False,False,False,False,False,True
4,Halloween,159342015,255485178,R,106,"Crime,Horror,Thriller",10000000,"Oct\n19,\n2018",Blumhouse Productions,Jamie Lee Curtis,...,False,True,False,True,False,False,False,True,False,False
5,Thor: Ragnarok,315058289,853980491,PG-13,130,"Action,Adventure,Comedy",180000000,"Nov\n3,\n2017",Walt Disney Pictures,Chris Hemsworth,...,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5387,The Fuzz,6067,6067,NotRated,87,Crime,400000,"May\n2,\n2017",Indican Pictures,Josh Adell,...,False,False,False,True,False,False,False,False,False,False
5422,30 Years of Garbage: The Garbage Pail Kids Story,27739,27739,NotRated,114,Documentary,75000,"Sep\n20,\n2017",Peel Here Productions,Art Spiegelman,...,False,False,False,False,True,False,False,False,False,False
5428,Afterward,6477,6477,NotRated,95,Documentary,6477,"Jan\n10,\n2020",All Rites Reserved,Bassam Aramin,...,False,False,False,False,True,False,False,False,False,False
5466,The Cat Rescuers,31540,31540,NotRated,87,Documentary,4252,"Jul\n5,\n2019",24 Cats Per Second,Claire Corey,...,False,False,False,False,True,False,False,False,False,False
5495,The Pathological Optimist,11222,11222,TV-14,93,"Documentary,Biography",5946,"Sep\n29,\n2017",Cold Iron Pictures,Andrew Wakefield,...,False,False,False,False,True,False,False,False,False,True

In [14]:
# I see. Now I should work with the format of the feature 'release_date_string'

# 1) Extract '\n' and remove spaces from 'release_date_string'

df_movies = df_movies.replace(r'\n',' ', regex=True)

# 2) Extracted coma and spaces from 'release_date_string'
df_movies['release_date_string'] = df_movies['release_date_string'].str.replace(',','').str.replace(' ', '').astype(str)

In [15]:
# 3) Find rows which 'release_date_string' value does not match with the expected date format

mask = (df_movies.release_date_string == 'Sep2018') | \
        (df_movies.release_date_string == '2017') | \
        (df_movies.release_date_string == '2016') | \
        (df_movies.release_date_string == 'Apr2017')
df_movies[mask].head(1000)

,title,gross_us_canada,gross_world,rating,running_time,genre,budget,release_date_string,production_company,main_actor,...,Drama,Horror,Adventure,Crime,Documentary,Mystery,Romance,Thriller,SciFi,Other
3135,Paradise Club,22381,22381,R,93,"Drama,History",1758,2016,Love Child Productions,Elizabeth Rice,...,True,False,False,False,False,False,False,False,False,True
4306,Gilbert,8362,8362,TV-MA,94,"Documentary,Biography,Comedy",8362,Apr2017,Future You Media,Gilbert Gottfried,...,False,False,False,False,True,False,False,False,False,True

In [19]:
# 4) Drop the resulted row
df_movies = df_movies.drop(index=[4306])

In [20]:
# 5) change release_date_string to date type
df_movies['release_date_string'] = pd.to_datetime(df_movies['release_date_string'], format='%b%d%Y')

In [21]:
# Now, how does my 'release_date_string' look like? I don't think it is a string anymore!
df_movies

,title,gross_us_canada,gross_world,rating,running_time,genre,budget,release_date_string,production_company,main_actor,...,Drama,Horror,Adventure,Crime,Documentary,Mystery,Romance,Thriller,SciFi,Other
1,Black Panther,700426566,1347426487,PG-13,134,"Action,Adventure,Sci-Fi",200000000,2018-02-16,Marvel Studios,Chadwick Boseman,...,False,False,True,False,False,False,False,False,True,False
2,Blade Runner 2049,92054159,259239658,R,164,"Action,Drama,Mystery",150000000,2017-10-06,Alcon Entertainment,Ryan Gosling,...,True,False,False,False,False,True,False,False,False,False
3,On the Basis of Sex,24704837,38755900,PG-13,120,"Biography,Drama",20000000,2019-01-11,Alibaba Pictures,Felicity Jones,...,True,False,False,False,False,False,False,False,False,True
4,Halloween,159342015,255485178,R,106,"Crime,Horror,Thriller",10000000,2018-10-19,Blumhouse Productions,Jamie Lee Curtis,...,False,True,False,True,False,False,False,True,False,False
5,Thor: Ragnarok,315058289,853980491,PG-13,130,"Action,Adventure,Comedy",180000000,2017-11-03,Walt Disney Pictures,Chris Hemsworth,...,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5387,The Fuzz,6067,6067,NotRated,87,Crime,400000,2017-05-02,Indican Pictures,Josh Adell,...,False,False,False,True,False,False,False,False,False,False
5422,30 Years of Garbage: The Garbage Pail Kids Story,27739,27739,NotRated,114,Documentary,75000,2017-09-20,Peel Here Productions,Art Spiegelman,...,False,False,False,False,True,False,False,False,False,False
5428,Afterward,6477,6477,NotRated,95,Documentary,6477,2020-01-10,All Rites Reserved,Bassam Aramin,...,False,False,False,False,True,False,False,False,False,False
5466,The Cat Rescuers,31540,31540,NotRated,87,Documentary,4252,2019-07-05,24 Cats Per Second,Claire Corey,...,False,False,False,False,True,False,False,False,False,False
5495,The Pathological Optimist,11222,11222,TV-14,93,"Documentary,Biography",5946,2017-09-29,Cold Iron Pictures,Andrew Wakefield,...,False,False,False,False,True,False,False,False,False,True

In [22]:
# I also want a new column 'release_year'
df_movies['release_year'] = df_movies.release_date_string.dt.year
df_movies.head(1)

,title,gross_us_canada,gross_world,rating,running_time,genre,budget,release_date_string,production_company,main_actor,...,Horror,Adventure,Crime,Documentary,Mystery,Romance,Thriller,SciFi,Other,release_year
1,Black Panther,700426566,1347426487,PG-13,134,"Action,Adventure,Sci-Fi",200000000,2018-02-16,Marvel Studios,Chadwick Boseman,...,False,True,False,False,False,False,False,True,False,2018

In [23]:
# How many movies I have per year?
df_movies_by_year = df_movies.groupby(['release_year']).count().head(50).reset_index()
df_movies_by_year

,release_year,title,gross_us_canada,gross_world,rating,running_time,genre,budget,release_date_string,production_company,...,Drama,Horror,Adventure,Crime,Documentary,Mystery,Romance,Thriller,SciFi,Other
0,2016,295,295,295,295,295,295,295,295,295,...,295,295,295,295,295,295,295,295,295,295
1,2017,339,339,339,339,339,339,339,339,339,...,339,339,339,339,339,339,339,339,339,339
2,2018,364,364,364,364,364,364,364,364,364,...,364,364,364,364,364,364,364,364,364,364
3,2019,69,69,69,69,69,69,69,69,69,...,69,69,69,69,69,69,69,69,69,69
4,2020,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8

In [27]:
# Now, will pickle this data and start a new notebook called Cross-validation
with open('df_movies.pkl', 'wb') as pickle_file:
    pickle.dump(df_movies, pickle_file, protocol=pickle.HIGHEST_PROTOCOL)